{{ form_start(form) }}
{{ form_row(form.name) }}
{{ form_row(form.description) }}
    <button class="btn cyan darken-2 waves-effect waves-light">{{ button_label|default('Valider') }}</button>
{{ form_end(form) }}
