<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Vetixy | Accueil{% endblock %}</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
              rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link type="text/css" rel="stylesheet" href="{{ asset('build/app.css') }}">
        <link type="text/css" rel="stylesheet" href="{{ asset('build/materialize.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <header>
            <nav class="nav-wrapper cyan darken-3">
                <div class="container">
                    <a href="{{ path('home') }}" class="brand-logo"><img class="img-vetixy-logo" src="{{ asset('build/images/logo-vetixy-white.png') }}" alt="Vetixy"></a>
                    <a href="#" class="sidenav-trigger" data-target="mobile-links">
                        <i class="material-icons">menu</i>
                    </a>
                    <ul class="right hide-on-med-and-down">
                        <li><a href="{{ path('home') }}">Accueil</a></li>
                        <li><a href="{{ path('evolution_index') }}">Evolutions</a></li>
                        <li><a href="{{ path('bug_index') }}">Bugs</a></li>
                        <li><a class="btn-floating z-depth-2 cyan darken-3 dropdown-trigger" href="#" data-target="dropdown1"><i class="material-icons right">account_circle</i></a></li>
                    </ul>
                    <ul class="sidenav" id="mobile-links">
                        <li><a href="#">Accueil</a></li>
                        <li><a href="{{ path('evolution_index') }}">Evolutions</a></li>
                        <li><a href="{{ path('bug_index') }}">Bugs</a></li>
                    </ul>
                    <ul id="dropdown1" class="dropdown-content"  >
                        {% if app.user %}
                            <li><a href="{{ path('app_logout') }}">Deconnection</a></li>
                        {% else %}
                            <li><a href="{{ path('user_registration') }}">S'incrire</a></li>
                            <li><a href="{{ path('app_login') }}">Se connecter</a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </header>
        {% block body %}{% endblock %}
        <footer class="page-footer grey darken-3 valign-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col s12 m7">
                        <h5>A propos de Vetixy</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dapibus imperdiet nulla quis vestibulum.
                            Nulla auctor elit a neque imperdiet sagittis. </p>
                    </div>
                    <div class="col s12 m3 offset-m2">
                        <h6>Réseaux:</h6>
                    </div>
                    <div class="col s12 m3 offset-m2">
                        <p>
                            <a href="https://www.vetixy.com" class="connect fa fa-link">&nbsp;&nbsp;&nbsp;Vetixy</a><br/>
                            <a href="https://www.facebook.com/vetixy" class="connect fa fa-facebook">&nbsp;&nbsp;&nbsp;&nbsp;Facebook</a><br/>
                            <a href="https://www.instagram.com/vetixy" class="connect fa fa-instagram">&nbsp;&nbsp;&nbsp;Instagram</a>
                        </p>
                    </div>
                </div>
            </div>
        </footer>

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="{{ asset('build/app.js') }}"></script>
        <script>
            $(document).ready(function() {
                $('.dropdown-trigger').dropdown();
            });
            $(document).ready(function(){
                $('select').formSelect();
            });
            $(document).ready(function(){
                $('.datepicker').datepicker();
            });
            $(document).ready(function(){
                $('.materialboxed').materialbox();
            });
            $(document).ready(function(){
                $('.carousel').carousel();
            });
            $(document).ready(function(){
                $('.parallax').parallax();
            });
        </script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
